*.db
*.cache
code/drives_code/ECD.v11.suo
code/drives_code/ECD.v12.suo
code/drives_code/obj/Debug/ECD.vbproj.FileListAbsolute.txt
code/drives_code/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache